<nav class="py-2">
  <div class="container-fluid">
    <ul class="list-unstyled m-0 d-flex">
      <li class="me-1"><a class="" mat-button routerLink="/all-in-one" routerLinkActive="active">All in one</a></li>
      <li class="me-1"><a class="" mat-button routerLink="/separate-controls" routerLinkActive="active">Separate controls</a></li>
      <li class="me-1"><a class="" mat-button routerLink="/form-wrapper" routerLinkActive="active">From parent to children</a></li>
      <li class=""><a class="" mat-button routerLink="/control-container" routerLinkActive="active">ControlContainer usage</a></li>
    </ul>
  </div>
</nav>

<div class="container-fluid">
  <router-outlet />
</div>
