<p>all-in-one works!</p>
<div class="row">
  <div class="col-6 mb-2">
    <mat-card appearance="outlined">
      <mat-card-content>Simple card 1</mat-card-content>
    </mat-card>
  </div>
  <div class="col-6 mb-2">
    <mat-card appearance="outlined">
      <mat-card-content>Simple card 2</mat-card-content>
    </mat-card>
  </div>
  <div class="col-6 mb-2">
    <mat-card appearance="outlined">
      <mat-card-content>Simple card 3</mat-card-content>
    </mat-card>
  </div>
  <div class="col-6 mb-2">
    <mat-card appearance="outlined">
      <mat-card-content>Simple card 4</mat-card-content>
    </mat-card>
  </div>
</div>
